@media (min-width: 1366px) {
    /*header*/
    .main-navigation ul {
        display: flex;
        align-items: center;
        height: 100%;
        justify-content: space-around;
    }

    .wrapper {
        width: 1366px;
        box-shadow: 0 0 90px #000;
    }

    .main-navigation {
        height: 80px;
    }
    .big-head{
        background: url(img/girl-gamepad.png) 90% top no-repeat,
                    url(img/Ellipse.png) 95% 250% no-repeat,
                    linear-gradient(243.81deg, #301F68 0%, #561862 100%),
                    #4C1A64;
    }
    .head-promo{
        padding: 160px 95px;
    }
    .row-head-first{
        display: flex;
        align-items: center;
    }
    .head-main-button{
        margin-top: 60px;
    }
}
