/*header*/
.main-navigation ul {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: space-around;
}

.wrapper {
    width: 100%;
}

.main-navigation {
    height: 80px;
}

.big-head {
    background: url(img/girl-gamepad.png) 100% 10% no-repeat,
        url(img/Ellipse.png) 140% -700% no-repeat,
        url(img/Ellipse-pink.png) -10% 100% no-repeat,
        linear-gradient(243.81deg, #301F68 0%, #561862 100%),
        #4C1A64;
}

.head-promo {
    padding: 80px 64px;
}

.row-head-first {
    display: flex;
    align-items: center;
}

.head-main-button {
    margin-top: 25px;
}

/*на юните создают шедевры*/
.game-img-small {
    display: none;
}

.games-ex-big {
    width: 755px;
}

.second-block {
    padding: 80px 64px;
}

.games-ex-pos {
    margin-top: 30px;
}

.second-block row {
    margin: 0 auto;
    width: 755px;
}

.games-ex-pos img {
    width: 100%;
}

.game-two-small {
    display: none;
}
