@media (min-width: 320px) and (max-width: 767px){
    .wrapper {
        width: 100%;
    }
    .main-navigation {
        height: 80px;
    }
    .big-head{
        background: url(img/girl-gamepad.png) 50% bottom no-repeat,
                    url(img/Ellipse.png) bottom right no-repeat,
                    url(img/Ellipse-pink.png) top left no-repeat;
        background-size: 90%;
    }
     .head-promo{
         padding-top: 20px;
         padding-bottom: 460px;
         margin: 0 auto;
    }
    .row-head-first{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .head-main-button{
        margin-top: 25px;
    }
    .navig-link{
        display: none;
    }
    .small-menu{
        border: solid 1px #fff;
    }
    .main-navigation ul{
        display: flex;
        align-items: center;
        height: 100%;
        justify-content: space-around;
    }
    .head-sub-h{
        position: relative;
        left: -40px;
        margin-top: 25px;
    }
    .small-promo{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .head-main-text{
        text-align: center;
    }
    .head-main-button{
        display: none !important;
    }
}